<!doctype html>
<html lang="en">
  <head>
      <title>ShitTalker Config</title>
      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" >
    <link rel="icon" type="image/x-icon" href="static/shit-icon-12.jpg">
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="pragma" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <div class="container">
      <div style="border-radius: 25px; border: 2px solid #73AD21; padding: 5px; margin:10px "><br><br>
        <div class="row">
            <div class="col-sm">
              <a href = "/music/1"><button type="button" class="btn btn-primary">Music Files</button></a> | 
              <a href = "/sound/1"><button type="button" class="btn btn-primary">Sound Files</button></a>
                <h1>Configuration</h1>
                <form method = "post" action = "/save_config">
                    <label for="list_items" class="form-label">Items Per Page</label>
                    <input type="text" class="form-text" value="{{config[0]}}" name="list_items" id="list_items"> <br>

                    <label for="music_start_delay" class="form-label">Music Delay: <span id ="sens">{{config[1]}} seconds</span></label>
                    <input type="range" onchange = "sens_update()" class="form-range" min="0" max="60" value="{{config[1]}}" title="{{config[1]}}" name="music_start_delay" id="music_start_delay"> <br>
                
                    <label for="sound_start_delay" class="form-label">Sound Delay: <span id ="dur">{{config[2]}}</span> seconds</label>
                    <input type="range" onchange = "dose_update()" class="form-range" min="0" max="60" value="{{config[2]}}" title="{{config[2]}}" name="sound_start_delay" id="sound_start_delay"> <br>

                    <label for="delay_between_sounds" class="form-label">Sound Interval: <span id ="interval">{{config[3]}}</span> seconds</label>
                    <input type="range" onchange = "interval_update()" class="form-range" min="0" max="60" value="{{config[3]}}" title="{{config[3]}}" name="delay_between_sounds" id="delay_between_sounds"> <br>

                    <label for="shit_duration" class="form-label">Shit Duration: <span id ="shit">{{config[9]}} seconds</span></label>
                    <input type="range" onchange = "duration_update()" class="form-range" min="0" max="600" value="{{config[9]}}" title="{{config[9]}}" name="shit_duration" id="shit_duration"> <br>

                    <label for="music_volume" class="form-label">Music Volume: <span id ="music">{{config[4]}}</span></label>
                    <input type="range" onchange = "music_update()" class="form-range" min="0" max="1" step = "0.1" value="{{config[4]}}" title="{{config[4]}}" name="music_volume" id="music_volume"> <br>

                    <label for="sound_volume" class="form-label">Sound Volume: <span id ="sound">{{config[5]}}</span></label>
                    <input type="range" onchange = "sound_update()" class="form-range" min="0" max="1" step = "0.1" value="{{config[5]}}" title="{{config[5]}}" name="sound_volume" id="sound_volume"> <br>

                    <label for="music_path" class="form-label">Play Music</label>
                    <input {% if config[10] == "1" %}checked{% endif %} type="checkbox" id="play_music" name="play_music" value="1"> <br>

                    <label for="music_path" class="form-label">Music Path</label>
                    <input type="text" class="form-text" value="{{config[7]}}" name="music_path" id="music_path"> <br>

                    <label for="sound_path" class="form-label">Sound Path</label>
                    <input type="text" class="form-text" value="{{config[8]}}" name="sound_path" id="sound_path"> <br>

                    <input  class="btn btn-primary" type="submit" value="Save"> |
                    <a href = "/errorlog"><button type="button" class="btn btn-primary">Error Log</button></a> |
                    <a href = "/confirmrestart"><button type="button" class="btn btn-primary">Restart Device</button></a> | 
                    <a href = "/confirmstop"><button type="button" class="btn btn-primary">Shutdown Device</button></a>
                </form>
            </div>
       </div>
       <hr>
       <div class="row">
        <div class="col-sm">

 
        </div>
   </div></div>
    <script>
      function sens_update() {
          let span = document.getElementById("sens");
          let slider = document.getElementById("music_start_delay");
          console.log(slider.value)
          span.textContent = slider.value+" Seconds";
      }
      function dose_update() {
          let span = document.getElementById("dur");
          let slider = document.getElementById("sound_start_delay");
          console.log(slider.value)
          span.textContent = slider.value+" Seconds";
      }
      function interval_update() {
          let span = document.getElementById("interval");
          let slider = document.getElementById("delay_between_sounds");
          console.log(slider.value)
          span.textContent = slider.value+" Seconds";
      }
      function music_update() {
          let span = document.getElementById("music");
          let slider = document.getElementById("music_volume");
          console.log(slider.value)
      }
      function sound_update() {
          let span = document.getElementById("sound");
          let slider = document.getElementById("sound_volume");
          console.log(slider.value)
      }
      function duration_update() {
          let span = document.getElementById("shit");
          let slider = document.getElementById("shit_duration");
          console.log(slider.value)
          span.textContent = slider.value+" Seconds";
      }
      function ConfirmDelete(name) {
        if (confirm("Are you sure you want to Delete: " + name + "? This is permanent and can not be restored")) {
            window.location.href = "/DeleteImage/" + name
        }
      }
  </script>
  </body>    
</html> 